@model IEnumerable<ProductEntity>

<br />

<table class="table table-responsive table-light table-bordered " style="width:100%;">
    <tr>
        <th>Product name </th>
        <th>Rate </th>
        <th>Quantity </th>
        <th>Product Image </th>
        <th>Total </th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Product</td>
            <td>@item.Rate</td>
            <td>@item.Quanity</td>
            <td><img src="@item.ImagePath" style="width:150px;height:150px;" alt="product"/></td>
            <td>@(item.Rate*item.Quanity)</td>
        </tr>
    }
</table>
<br />

<p>
    <a asp-action="CheckOut" asp-controller="CheckOut" >CheckOut</a>
</p>